@import "initial";

main {
    background: $colorSecondary;
    margin-left: 225px;
    margin-top: 60px;
    position: relative;
    .background-img-container {
        display: flex;
        justify-content: center;
        overflow: hidden;
        .background-img {
            height: calc(100vh - 60px);
            opacity: 40%;
        }
    }
    .main-content  {
        position: absolute;
        right: calc(25% - 150px);
        top: calc(50% - 150px);
        padding: 10px;
        text-align: center;
        .name {
            font-size: 5rem;
            padding: 10px;
        }
        .desc {
            font-size: 1rem;
        }
    }
}